<header fxLayoutAlign="space-between center">
  <mat-toolbar  >
    <mat-toolbar-row>
      <app-menu></app-menu>
      <span>CARS</span>
      <a mat-menu-item routerLink="/brands" routerLinkActive="active">
        <mat-icon>apps</mat-icon>
        <span>Brands</span>
      </a>
      <a mat-menu-item routerLink="/models" routerLinkActive="active">
        <mat-icon>apps</mat-icon>
        <span>Models</span>
      </a>
      <a mat-menu-item routerLink="/cars" routerLinkActive="active">
        <mat-icon>apps</mat-icon>
        <span>Cars</span>
      </a>
      <a mat-menu-item routerLink="/overview" routerLinkActive="active">
        <mat-icon>apps</mat-icon>
        <span>Overview</span>
      </a>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
