################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/Catalog/Catalog/obj
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite-journal
/.vs/autocatalog/v16/.suo
/.vs/autocatalog/v16
/.vs
/Catalog/.vs/Catalog/v16
/Catalog/Catalog/bin/Debug/netcoreapp3.1
