<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <a mat-menu-item routerLink="/brands" routerLinkActive="active">
    <mat-icon>apps</mat-icon>
    <span>Brands</span>
  </a>
  <a mat-menu-item routerLink="/models" routerLinkActive="active">
    <mat-icon>apps</mat-icon>
    <span>Models</span>
  </a>
  <a mat-menu-item routerLink="/cars" routerLinkActive="active">
    <mat-icon>apps</mat-icon>
    <span>Cars</span>
  </a>
  <a mat-menu-item routerLink="/overview" routerLinkActive="active">
    <mat-icon>apps</mat-icon>
    <span>Overview</span>
  </a>
</mat-menu>