.container {
  display: flex;
}
.spacer {
  flex: 2 2 auto;
}

.mat-column-id {
  flex: 0 0 15%;
}
.mat-column-description {
  flex: 0 0 15%;
}
.mat-column-volume {
  flex: 0 0 15%;
}
.mat-column-color {
  flex: 0 0 15%;
}

.mat-column-brand {
  flex: 0 0 15%;
}
.mat-column-model {
  flex: 0 0 15%;
}

.mat-column-actions {
  justify-content: flex-end;
}

.mat-header-cell {
  font-size: 16px;
}

h4 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 450;
}
